* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2vw;
  height: 5vh;
  align-items: center;
}

.gameboard {
  display: flex;
  gap: 5vw;
  justify-content: center;
}

.player,
.computer {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border: 1px solid black;
}

.cell {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    border: min(0.2vh, 0.2vw) solid blue;
  }
}

.hit {
  background-color: red;
}

.miss {
  background-color: grey;
}

.logoTitle {
  width: 10vw;
  height: 15vh;
  margin-top: 1vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: start;
}

.message {
  display: flex;
  justify-content: center;
  height: 5vh;
  margin-top: -2vh;
  font-size: min(2vh, 2vw);
}

input {
  width: 2vw;
  text-align: center;
}

.carrier,
.battleship,
.destroyer,
.submarine,
.patrolBoat {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.patrolBoat {
  margin-bottom: 2vh;
}

.placeShips {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.place {
  background-color: black;
  border-radius: 1rem;
  padding: min(0.6vh, 0.6vw);
  border: none;
  color: white;
  width: 30%;
  font-weight: bold;
  &:hover {
    background-color: rgb(29, 27, 27);
    cursor: pointer;
  }
}

.restartBtn {
  display: flex;
  justify-content: center;
}

.restart {
  background-color: black;
  border-radius: 1rem;
  padding: min(1vh, 1vw);
  margin: min(1.5vh, 1.5vw);
  border: none;
  color: white;
  font-weight: bold;
  &:hover {
    background-color: rgb(29, 27, 27);
    cursor: pointer;
  }
}

.playerShip {
  background-color: blue;
}
